<p>Following Enquiry was generated with following details</p>
<h3>Customer Details</h3>
<p><%= @user.id %>, <%= @user.name %></p>
<p><%= @user.mobile %>, <%= @user.email %></p>
<p><%= @order.cart.address_line_1 %>, <%= @order.cart.address_line_2 %>, <%= @order.cart.city %>, <%= @order.cart.state %>, <%= @order.cart.country %>, <%= @order.cart.zip_code %></p>