<fieldset>
  <div class="modal-header">
    <h3 class="modal-title text-center" style="text-transform:none;">Add a Project
    </h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" style="float: right;">&times;</span>
    </button>
  </div>
  <%= form_for @vendor, url: vendor_update_path(current_user), remote: true, method: :post do |f| %>
    <%= hidden_field_tag :next, @vendor.is_company? ? 'expertise' : 'expertise' %>
    <%#= hidden_field_tag :next, 'capacity' %>
    <div class="modal-body">
      <%= f.fields_for :projects, @vendor.projects.first || Project.new do |p| %>
        <%= render "common/projects_form", p: p %>
      <% end %>
    </div>
    <div class="text-center">
      <%= link_to "Previous", "/vendors/show?page=#{@vendor.is_company? ? 'capacity' : 'employment'}", class: "previous action-button-previous btn-primary btn", remote: true %>
      <%= f.submit "Next", class: "next action-button btn btn-primary" %>
      <%= link_to "Skip", "/vendors/show?page=expertise", class: "skip action-button-skip btn-primary btn", remote: true %>
    </div>
    <br><br>
    <!-- <p> Note: "Add More Projects From Vendor Dashboard" </p> -->
    <!-- <a class="light next" href="#"><u>Skip</u></a> -->
  <% end %>
</fieldset>